// FONTS

@font-face {
  font-family: 'Header';
  src: url('../../toony-black/MaronRose-X35oZ.ttf') format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'text';
  src: url("../../toony-black/Imprima-dMPl.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'toony';
  src: url("../../toony-black/Disorder.ttf");//Source:https://www.abstractfonts.com/font/36fe6e
  font-weight:100;
}