$main: #b7edbe;
$main-light: #6bac74;
$secondary: #6bac74;
$white: #fff;
$black: #000000;
$white-dark: #eeefbc;
$dark: #527c5766;

$border-light: #636363;


$team-leader: #55bf57;
$web-developer: #37ff00a5;
$entrepreneurship:#fff;
$wet-lab: #008df9;
$dry-lab: #061ef5;

$fundraiser: #fcf406;

$lab-instructor: #f8cf00;
$advisor:#e1ddc8;

$graphic-design: #d19ab4;
$human-practices: #1ba579;
$public-relations: #d05f5f;


$perspective:     60rem;
$font-size:       4.25rem;
$split-position:  49%;
$split-thickness: 4px;
$split-color:     #43aa75;


